@font-face {
	src: url(".../view/assets/PoiretOne-Regular.ttf");
}

.imageTop{
	-fx-background-image: url("../view/assets/blueforest.jpg");
}

.myProfileLabel{
	-fx-font-family: "Poiret One";
	-fx-font-size: 24px;
}
.jayR{
	-fx-font-family: "Poiret One";
	-fx-font-size:16px;
}
.programmers{
	-fx-font-family: "Poiret One";
	-fx-font-size:14px;
	-fx-font-style: italic;
}
.panelBottom{
	-fx-background-color: #146b93;
}

.buttonGetMe{
	-fx-background-radius: 10.0;
	-fx-background-color: orange;
}
.buttonGetMe:hover{
	-fx-background-color: orangered;
}